.post-container{
    padding: 0 10px 15px 0;
}
.post-content{
  position: relative;
  width: 700px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 54px;
  margin-bottom: 70px;
  border-bottom: 1px solid #E5E5E5;
}

.post-img{
  height: 460px;
  width: 600px;
}

.post-header{
  clear: both;
  margin: 25px 0 0 0;
  position: relative;
  line-height: 1;
}

h2{
  text-align: left;
  width: 600px;
  color: #222222;
  font-size: 27px;
  margin: 3px 0 0 0;
  font-family: 'Playfair Display', serif;
  line-height: 1.3;
  letter-spacing: 1px;
  font-weight: 400;
}

body{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  letter-spacing: .5px;
  text-align: left;
  color: #999999;
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: 300;
}

.categories, .divider, .location{
  line-height: 1;
  display: inline;
  color: #999999;
}

a{
  text-decoration: none;
}

.categories a{
  font-size: 11.5px;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #999999;
}

.post-excerpt-container{
  width: 600px;
}

p{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: .5px;
  text-align: left;
  color: #222222;
}

.post-footer{
  clear: both;
  margin: 24px 0 0 0;
  display: table;
  width: 100%;
  text-align: right;
  position: relative;
}
.read-more-button a{
  display: inline-block;
  color: #222222;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 1;
  padding: 12px 15px;
  text-transform: uppercase;
  font-weight: 400;
}

.read-more-button{
  display: inline-block;
  background: #EFE9E8;
  float: left;
  font-size: 14px;
}

.comment-div{
  vertical-align: middle;
  width: auto;
  text-align: right;
}

.comment-div a{
  color: #222222;
}

.comment-count {
  font-size: 13px;
  margin-left: 6px;
  vertical-align: 1.25px;
  color: #222222;
}

.share-icon{
  padding-left: 8px;
  vertical-align: middle;
  width: 15px;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  color: #222222;
}

.share-icon:hover{
  color: #999999;
  cursor: pointer;
}

.share-icon-list{
  position: absolute;
  right: 0px;
  bottom: 9px;
  background: #FFFFFF;
  line-height: 1;
}

.share-soc{
  color: #222222;
  margin-left: 9px;
  font-size: 12px;
}

.close-button{
  color: lightgrey;
  font-size: 15px;
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  right: 80px;
}

.post-date{
  display: inline-block;
  position: absolute; /* Reposition logo from the natural layout */
  top: 40px;
  left: 20px;
  background-color: white;
  border: 4px solid #FFFFFF;
}

.undated-post-date{
  padding: 9px 13px 12px;
  border: 1px solid #e5e5e5;
}

.day{
  color: #222222;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 23px;
  margin-bottom: 5.5px;
  line-height: 1;
}

.month{
  color: #222222;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 2px;
  text-transform: uppercase;
  font-size: 10.5px;
  line-height: 1;
}

.year{
  color: #222222;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 10.5px;
  line-height: 1;
}
