.navbar {
  width: 100%;
  background-color: #EFE9E8;
  text-align: center;
  display: block;
  align-items: center;
  padding: 5px;
}

.navbar__link {
  margin: 3em;
  font-size: 11.5px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: .3em;
  text-indent: .3em;
  color: #222222;
  border-bottom: 3px solid transparent;
}

.navbar__link:hover {
  transform: translateY(-2px);
}

li{
  display: inline-block;
}

.soc-nav{
position: absolute;
right: 0;
font-size: 11.5px;
}

.soc-icon{
  margin: 0 1rem;
  color: #222222;
}
