.menu-container{
  display: flex;
  justify-content: space-evenly;
  background-color: #EFE9E8;
}

li{
  display: inline;
}

ul{
  padding: 0;
}

.navbar__link {
  margin: 3em;
  letter-spacing: .3em;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  cursor: pointer;
  color: #222222;
  font-size: 11.5px;
}

.soc-icon{
  font-size: 11.5px;
  margin: 0 1rem;
  color: #222222;
}

.search-component{
  padding-top: 2vh;
}

.search-label{
  text-align: left;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: #222222;
  display: inline-block;
  font-size: 78.5%;
  text-align: left;
  text-transform: lowercase;
}

.search-button{
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  color: #555555;
  font-size: 10px;
  transform: rotate(80deg);
}

.search-input{
  position: relative;
  background: none;
  border: 0px;
  padding: 0px;
  margin-left: 0;
  width: 100px;
  text-transform: none;
  float: none;
  font-size: 78.5%;
  border-bottom: 1px solid #BBBBBB;
}
