.post-container{
  width: 50%;
  height: 50%;
  border: 1px black solid;



}

.post-img{
  height: 460px;
  width: 600px;
}

.post-header{
  width: 600px;
  color: #222222;
  font-size: 27px;
  margin: 3px 0 0 0;
  font-family: 'Playfair Display', serif;
  border: 1px solid blue;
}

.post-excerpt-container{
  margin: 14px 0 0 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  width: 600px;
  border: 1px solid blue;
  font-family: 'Raleway', sans-serif;
}


.post-date{
  margin-right:-104px;
  background-color: white;
  border: 4px solid #FFFFFF;
  width: 30px;
  height: 30px;

}

.undated-post-date{
  width: 30px;
  height: 30px;
  padding: 9px 13px 12px;
  border: 1px solid #e5e5e5;
}

.day{
  color: #222222;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 23px;
  margin-bottom: 5.5px;
  line-height: 1;
}

.month{
  color: #222222;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 2px;
  text-transform: uppercase;
    font-size: 10.5px;
    line-height: 1;
}


.year{
  color: #222222;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
    font-size: 10.5px;
    line-height: 1;
}
